@import './assets/styles/_typography';
@import './assets/styles/_variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: $primary-color;
    padding: 30px;
    font-family: $primary-font;
    color: $tertiary-color;
}

h1 {
    text-align: center;
    margin: 10px;
    font-size: 45px;
}

h5 {
    text-align: center;
}

.end {
    padding-bottom: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
    max-width: 600px;
    &__cell {
        border: 3px solid $tertiary-color;
        border-radius: 3px;
        max-width: 30vw;
        background-color: white;
        // centralise player piece
        display: flex;
        justify-content: center;
        align-items: center;
        color: $secondary-color;
        font-size: 35px;
    }
}

// make grid cells square
// before is pseudocode
.grid > .grid__cell::before {
    // content required for before to work
    content: "";
    // forces height to be at least as tall as is wide
    padding-bottom: 100%;
    // makes block element
    display: block;
}

.players {
    display: flex;
    justify-content: space-around;
    .player {
        text-align: center;
        padding: 25px;
        &__icon {
            font-size: 45px;
            padding-bottom: 5px;
        }
        // 
        // input {
        //     max-width: 130px;
        // }
    }
}

.button {
    text-align: center;
    &__restart {
        width: 50vw;
        height: 50px;
        background-color: white;
        border: 2px solid $tertiary-color;
        border-radius: 3px;
    }
}

@media screen and (min-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 45px;
    }

    h5 {
        font-size: 20px;
    }

    .grid {
        min-height: 500px;
        min-width: 500px;
        margin: 20px;
    }

    .players > .player {
        font-size: 25px;
        &__icon {
            font-size: 25px;
        }
        // 
        // input {
        //     max-width: 300px;
        // }
    }

    .button__restart {
        max-width: 350px;
        margin: 15px;
        font-size: 20px;
    }
}