* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #FFB703;
  padding: 30px;
  font-family: "Raleway", sans-serif;
  color: #023047;
}

h1 {
  text-align: center;
  margin: 10px;
  font-size: 45px;
}

h5 {
  text-align: center;
}

.end {
  padding-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
  max-width: 600px;
}
.grid__cell {
  border: 3px solid #023047;
  border-radius: 3px;
  max-width: 30vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #219ebc;
  font-size: 35px;
}

.grid > .grid__cell::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.players {
  display: flex;
  justify-content: space-around;
}
.players .player {
  text-align: center;
  padding: 25px;
}
.players .player__icon {
  font-size: 45px;
  padding-bottom: 5px;
}
.players .player input {
  max-width: 130px;
}

.button {
  text-align: center;
}
.button__restart {
  width: 50vw;
  height: 50px;
  background-color: white;
  border: 2px solid #023047;
  border-radius: 3px;
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 45px;
  }

  h5 {
    font-size: 20px;
  }

  .grid {
    min-height: 500px;
    min-width: 500px;
    margin: 20px;
  }

  .players > .player {
    font-size: 25px;
  }
  .players > .player__icon {
    font-size: 25px;
  }
  .players > .player input {
    max-width: 300px;
  }

  .button__restart {
    max-width: 350px;
    margin: 15px;
    font-size: 20px;
  }
}